# 忽略原始影像與標註資料夾
BDD100K/
BDD10K/                          # ⬅️ 新增：忽略 10K 資料集資料夾
BDD10K_YOLO/images/
BDD10K_YOLO/labels/
BDD100K_YOLO/images/
BDD100K_YOLO/labels/

# Python 雜項快取與暫存檔
__pycache__/
*.pyc
*.pkl
.ipynb_checkpoints/

# 模型檔與訓練結果
*.pt
runs/

# PyCharm 設定檔與虛擬環境
.idea/
venv/
/BDD10K

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder metadata
Icon?
._*

# Spotlight
.Spotlight-V100

# Trash
.Trashes

# macOS volume info
.VolumeIcon.icns
