# 基礎數據處理與分析
numpy
pandas
scipy

# 資料視覺化
matplotlib
seaborn

# 機器學習
scikit-learn

# 深度學習框架
tensorflow

# YOLOv8 所需（含 Ultralytics 封裝與 OpenCV）
ultralytics
opencv-python

# 若使用 jupyter notebook 或 colab
jupyter
#colab

# 語音輸出
pyttsx3

